.list {
    color: #1d2786;
    font-size: 16pt;
    margin: auto;
}
.list:hover {
    color: #6a65d8;
    display: inline-block;
    transform: rotate(5deg);
    text-decoration: none;
}
.group {
    padding: 30px;
}
.part {
    margin-bottom: 10px
}
#hidden {
    color: #007bff;
}
.down {
    margin-top: 15px
}
.setting {
    margin-top: 5px;
}
.icons {
    color: white;
}
.move-left {
    margin-left: 20px;
}
.move-right {
    margin-right: 20px
}
.move-up {
    margin-top: 20px;
}
.black-icons {
    color: black;
}
.blue {
    color: #007bff;
}
.content {
    margin-bottom: 80px;
}
